- if @article
  - content_for :header do
    %link{rel: 'canonical', href: @article.canonical_url}
    %meta{property: "og:title", content: @article.title}
    %meta{property: "og:url", content: article_url(@article)}
    %meta{property: "og:type", content: 'article'}
    %meta{property: "og:locale", content: 'uk_UA'}
    - if @article.featured_media.present?
      %meta{property: "og:image", content: @article.featured_media_url}
      %meta{:content => "summary_large_image", :name => "twitter:card"}/
      %meta{:content => @article.featured_media_url, :name => "twitter:image:src"}/
    - else
      %meta{:content => "summary", :name => "twitter:card"}/

    %meta{:content => @article.title, :name => "twitter:title"}/
    %meta{:content => "　", :name => "twitter:description"}/
    %meta{:content => article_url(@article), :name => "twitter:url"}/
  - content_for :title do
    = @article.title
  %article.before_render_content
    %h1= @article.title
    = raw @article.content
  = link_to '<< Назад', articles_path, class: 'btn btn-default'
#app
