- if @article
  - content_for :header do
    %link{rel: 'canonical', href: @article.canonical_url}
    %meta{property: "og:title", content: @article.title}
    %meta{property: "og:url", content: article_url(@article)}
    %meta{property: "og:type", content: 'article'}
    %meta{property: "og:locale", content: 'uk_UA'}
  - content_for :title do
    = @article.title
  %article.before_render_content
    %h1= @article.title
    = raw @article.content
#app
