/**
 * see *.less for some documentation
 * some helpers located on libs.less
 */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
