<h3>
  {{title}}
  <small><a target="_blank" {{bind-attr href="canonical_url"}}>оригінал&nbsp;&#8658;</a></small>
</h3>
<p><small>Опубліковно <abbr class="timeago"{{bind-attr title="published_at_iso"}}></abbr></small></p>
{{{body}}}
