<div style="height: 100%;" {{bind-attr class=":col-lg-3 :col-sm-4 view.articleIsShown:hidden-xs"}}>
  <div style="height: 100%;" class="inf-scroll-outer-container vertical">
    {{view UkraineNews.ArticlesCollectionView}}
  </div>
</div>
<div style="height: 100%; overflow: scroll; -webkit-overflow-scrolling: touch;" {{bind-attr class=":col-lg-9 :col-sm-8 view.articleIsShown:col-xs-12"}}>
  {{outlet}}
</div>
