<div class="col-sm-4">
  <ul class="list-group">
    {{#each}}
      <li class="list-group-item">
        {{#link-to 'article' this}}{{title}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-sm-8">
  {{outlet}}
</div>
