<div class="col-sm-4">
  <div class="list-group">
    {{#each}}
      {{#link-to 'article' this class='list-group-item'}}
        <b>[{{source}}]</b> {{title}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-sm-8">
  {{outlet}}
</div>
