{{#link-to 'articles.index' class='btn btn-default visible-xs-inline-block'}}&lt;&nbsp;Повернутись{{/link-to}}
<h3>
  {{title}}
  <small><a target="_blank" {{bind-attr href="canonical_url"}}>оригінал&nbsp;&#8658;</a></small>
</h3>
{{{body}}}
{{#link-to 'articles.index' class='btn btn-default visible-xs-inline-block'}}&lt;&nbsp;Повернутись{{/link-to}}
