.articles
  .article
    border-left: 5px solid green
    .featured_media
      float: left
      margin: 5px 10px 10px 0px
  .article:visited
    border-left: 5px solid #ddd

.article_view
  @media (max-width: 768px)
    .photo_block
      width: inherit !important
    img
      width: inherit !important
      max-width: 100%
      height: auto !important


.inf-scroll-outer-container.vertical
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
.inf-scroll-outer-container.vetical > .inf-scroll-inner-container > *
  display: block
.inf-scroll-inner-container
  overflow: visible
