%nav#header.header-navbar{:role => "navigation"}
  .header-navbar-inner.container
    #brand.navbar-brand
      = link_to root_path, rel: 'bookmark' do
        %img{:alt => "", "data-src" => image_path("summarize/logo.png"), "data-src-retina" => image_path("summarize/logo-retina.png"), :height => "56", :src => image_path("summarize/logo.png"), :width => "244"}/
    /
      %ul.nav.nav-pages.hidden-xs
        %li
          %a{:href => "#"} About
      %ul.nav.nav-icons
        %li
          %a.btn-icon{"data-toggle" => ".header-navbar-inner", "data-toggle-class" => "search-toggled-in", :href => "#"}
            %span.search-toggled-out-icon.icon.icon-search
            %span.search-toggled-in-icon.icon.icon-remove
      .search-wrapper.js-stoppropagation
        .search-wrapper-inner
          %form
            %input{:placeholder => "search ... ", :type => "text", :value => ""}/
            %button.btn-icon{:type => "submit"}
              %span.icon.icon-search
